/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color: #f60;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0.3em 0;
  color: #666;
}

h1 {
  font-size: 25px;
  margin-top: 0;
}

h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  margin:  auto 15px;
  padding: 0;
}

ul>li {
  margin: auto 20px;
  list-style: disc;
  color: #666;
}

a {
  color: #999;
  text-decoration: none;
  border-bottom: 1px solid;
}

p {
  color: #666;
}

.strong {
  color: var(--main-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
