/* skills */
.skills>.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px;
}

#radarChart {
  width: 500px;
  height: 270px;
  align-self: center;
  margin-bottom: 15px;
}

.skills>.wrapper>ul {
  color: #666;
  margin-left: 10px;
}

.skills>.wrapper strong {
  color: #f60;
}

.skills>.wrapper>ul>li {
  line-height: 1.2;
  margin-bottom: 8px;
}
